* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: rgb(170, 137, 137);
}

.white {
  background-color: rgb(243, 222, 155);
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.selected {
  background-color: rgb(131, 57, 57);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(55, 219, 110);
}

.green {
  background-color: rgb(40, 155, 78);
}
